body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.div1 {
  border-style: dashed;
  border-width: 1px;
  border-radius: 23%;
  border-radius: 0cm;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: blanchedalmond;
  margin-top: 1cm;
  display: flex;
  justify-content: center;
}
